.headline{
    position: absolute;
    width: 99%;
    height: 7%;
    background: #001AFF;
}

.search{
    position: absolute;
    top: 8%;
    width: 34%;
    height: 9%;
    background: #00E0FF;
}

.history{
    position: absolute;
    top: 18%;
    width: 34%;
    height: 80%;
    background: #00F0FF;
}

.wxCurrent{
    position: absolute;
    left: 36%;
    top: 8%;
    width: 63%;
    height: 38%;
    background: #AAAAAA;
}

.fivedayWx{
    position: absolute;
    left: 36%;
    top: 47%;
    width: 64%;
    height: 51%;
    background: #C4C4C4;
}